<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>$title$</title>
<style type="text/css">

body{
  margin:40px auto;
  max-width:1000px;
  line-height:1.6;
  font-size: 18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3{
  line-height:1.2
}

code.sourceCode {
  padding: 0;
  background: inherit;
}

pre.sourceCode {
  padding: 10px;
}

pre {
  font-size: 0.9em;
  margin-bottom: 18px;
  margin-top: 18px;
  border-left: 1px solid #ccc;
}

$highlighting-css$

</style>
</head>
<body>
<header><h1>Write You a Scheme</h1></header>
$body$
</body>
</html>
